h1 {
  font-size: 28px;
}
.link {
  text-decoration: none;
  font-size: 20px;
  padding: 30px;
  color: black;
  font-weight: 500;
}

.link:hover {
  color: yellow;
}

.links {
  position: absolute;
  top: 2%;
  right: 5%;
}

.toolbar {
  background-color: dodgerblue;
}
