
<div class="firs-row">
    <!-- <app-users-info *ngIf="isAdmin"></app-users-info> -->
    <div class="filter-div">
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Museum name</mat-label>
                <input type="text" matInput formControlName="museumNameField" >
            </mat-form-field>
            <mat-form-field>
                <mat-label>City</mat-label>
                <input type="text" matInput formControlName="locationField" >
            </mat-form-field>
            <button mat-button class="button"  (click)="filter()">Filter</button>
        </form>
        <button mat-button class="button"  (click)="showAll()">Clear filter</button>
    </div>
    <app-users-info *ngIf="isAdmin"></app-users-info>
   

</div>

<div class="museum-list-div" >
    <app-museum-item  [museum]="element"  *ngFor="let element of museumsToShow"></app-museum-item>   
</div>