<h1>Enter data:</h1>
<div>
    <form [formGroup]="form" class="form">
        <mat-form-field>
            <input matInput type="text" placeholder="First name" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Last name" formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Card number" formControlName="cardNumber" required>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Card type</mat-label>
            <mat-select [(value)]="selectedCardType" formControlName="cardType" required >
              <mat-option *ngFor="let element of cardTypeList"  value={{element.cardTypeId}} >{{element.cardTypeName}}</mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Expiration date" formControlName="expirationDate" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Pin" formControlName="pin" required>
        </mat-form-field>
       
    </form>
</div>
<div class="buttons-div">
    <button mat-button (click)="confirm(form)" [disabled]="form.invalid">Buy ticket</button>
    <button mat-button (click)="close()" >Cancel</button>
</div>