.sing-up-div {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sing-up-form {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.button {
  background-color: dodgerblue;
  margin-top: 20px;
}
