<mat-card class="card">
    <mat-card-title>{{museum!.name}}</mat-card-title>
    <mat-card-subtitle>
      <div class="card-item">
        <mat-icon aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
        <span style="margin-left: 5px;">{{museum!.address}} , {{museum!.cityName}} , {{museum!.countryName}}</span>
     </div>
    </mat-card-subtitle>

    <mat-card-actions>
      <button mat-button (click)="openMuseumPage()">Show virtual tours</button>
    </mat-card-actions>
  </mat-card>


