<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <a routerLink="/home" class="home-link">Web Museum</a>
        <a routerLink="" class="logout-link"  (click)="logout()">Log out</a>
        <a  (click)="openAdminApp()" class="toolbar-link ">Admin App</a>
        <a  routerLink="/news" class="toolbar-link ">News</a>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="main-div">
        <h1>News:</h1>
        <app-news-item *ngFor="let element of newsData" [news]="element"></app-news-item>
    </div>