h1 {
  font-size: 28px;
}

.toolbar {
  background-color: dodgerblue;
}
.toolbar-link,
.logout-link {
  margin-left: 100px;
  cursor: default;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.logout-link {
  position: absolute;
  right: 5%;
}

.toolbar-link:hover,
.logout-link:hover {
  color: yellow;
}
